<div class="products">
    <div class="product-listy">
        <h2>our Products</h2>
        <ul class="product-list">
            <li><a routerLink="/products">New Products</a></li>
            <li><a routerLink="/products">Old Products</a></li>
            <li><a routerLink="/products">T-shirts</a></li>
            <li><a routerLink="/products">pants</a></li>
            <li><a routerLink="/products">Dress</a></li>
            <li><a routerLink="/products">Shorts</a></li>
            <li><a href="#">Shirts</a></li>
            <li><a href="register.html">Register</a></li>
        </ul>
    </div>
    <div class="latest-bis">
        <img src="images/l4.jpg" class="img-responsive" alt="" />
        <div class="offer">
            <p>40%</p>
            <small>Top Offer</small>
        </div>
    </div>
</div>