<div class="products">
    <div class="product-listy">
        <h2>our Products</h2>
        <ul class="product-list">
            <li><a (click)="gotoListProducts()">New Products</a></li>
            <li><a (click)="gotoListProducts()">Old Products</a></li>
            <li><a (click)="gotoListProducts()">T-shirts</a></li>
            <li><a (click)="gotoListProducts()">pants</a></li>
            <li><a (click)="gotoListProducts()">Dress</a></li>
            <li><a (click)="gotoListProducts()">Shorts</a></li>
            <li><a (click)="gotoListProducts()">Shirts</a></li>
            <li><a routerLink="/create">Register</a></li>
        </ul>
    </div>
    <div class="latest-bis">
        <img src="images/l4.jpg" class="img-responsive" alt="" />
        <div class="offer">
            <p>40%</p>
            <small>Top Offer</small>
        </div>
    </div>
</div>