<div class="other-products">
    <div class="container">
        <h3 class="head text-center">Sale Products</h3>
        <div class="row">
            <div class="col-md-12">
                <div class="multiple-items">
                    <div  class="col-md-4">
                        <a routerLink="/single"><img src="images/l1.jpg" class="img-responsive" alt="" /></a>
                        <div class="product liked-product simpleCart_shelfItem">
                            <a class="like_name" routerLink="/single">perfectly simple</a>
                            <p><a class="item_add" href="#"><i></i> <span class=" item_price">$759</span></a></p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <a routerLink="/single"><img src="images/l2.jpg" class="img-responsive" alt="" /></a>
                        <div class="product liked-product simpleCart_shelfItem">
                            <a class="like_name" routerLink="/single">praising pain</a>
                            <p><a class="item_add" href="#"><i></i> <span class=" item_price">$699</span></a></p>
                        </div>
                    </div>
                    <div  class="col-md-4">
                        <a routerLink="/single"><img src="images/l3.jpg" class="img-responsive" alt="" /></a>
                        <div class="product liked-product simpleCart_shelfItem">
                            <a class="like_name" routerLink="/single">Neque porro</a>
                            <p><a class="item_add" href="#"><i></i> <span class=" item_price">$329</span></a></p>
                        </div>
                    </div>
                    <div  class="col-md-4">
                        <a routerLink="/single"><img src="images/l4.jpg" class="img-responsive" alt="" /></a>
                        <div class="product liked-product simpleCart_shelfItem">
                            <a class="like_name" routerLink="/single">equal blame</a>
                            <p><a class="item_add" href="#"><i></i> <span class=" item_price">$499</span></a></p>
                        </div>
                    </div>
                    <div  class="col-md-4">
                        <a routerLink="/single"><img src="images/l5.jpg" class="img-responsive" alt="" /></a>
                        <div class="product liked-product simpleCart_shelfItem">
                            <a class="like_name" routerLink="/single">perfectly simple</a>
                            <p><a class="item_add" href="#"><i></i> <span class=" item_price">$649</span></a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>