<div class="row">
	<template ngFor let-item [ngForOf]="list_product_display" let-i="index">
		<div class="col-md-4 col-sm-6" *ngIf="i >= fromNr && i <= toNr">
			<div class="single-shop-product simpleCart_shelfItem">
				<div class="product-upper">
					<img src="{{item.img}}" (click)="gotoDetail(item)" class="img-responsive list-image" alt="" />
				</div>
				<div class="info-product">
					<a>
						<p class="title text-center" (click)="gotoDetail(item)" >{{item.name | uppercase}}</p>
					</a>
					<p class="product-price" *ngIf="item.price_sale != 0">
						<span class="pull-left">
							<del>{{item.price | currency:'USD':true}}</del>
						</span>
						<span class="item_price pull-right">
							{{item.price_sale | currency:'USD':true}}
						</span>
						<br/>
					</p>
					<p class="product-price text-center" *ngIf="item.price_sale == 0">
						<span class="item_price">{{item.price | currency:'USD':true}}</span>
					</p>
					<p class="brief">{{item.brief}}</p>
				</div>
				<div class="product-option-shop">
					<a class="add-to-cart-button item_add" (click)="addItem(item)">Add to cart</a>
				</div>
			</div>
		</div>
	</template>

	<div class="col-md-12">
		<div class="product-pagination text-center">
			<nav>
				<ul class="pagination">
					<li *ngIf="filter.currentPage != 1"><a (click)="clickPrev()">&laquo;</a></li>
						<li [ngClass]="{'active': filter.currentPage == 1}">
							<a [routerLink]="['/products',{ cate: cate, page: 1}]">1</a>
						</li>
						<li *ngIf="totalPage > 1" [ngClass]="{'active': filter.currentPage == 2}">
							<a [routerLink]="['/products',{ cate: cate, page: 2}]">2</a>
						</li>
						<li *ngIf="totalPage > 2" [ngClass]="{'active': filter.currentPage == 3}">
							<a [routerLink]="['/products',{ cate: cate, page: 3}]">3</a>
						</li>
						<li *ngIf="totalPage > 3"[ngClass]="{'active': filter.currentPage == 4}">
							<a [routerLink]="['/products',{ cate: cate, page: 4}]">4</a>
						</li>
						<li *ngIf="totalPage > 4" [ngClass]="{'active': filter.currentPage == 5}">
							<a [routerLink]="['/products',{ cate: cate, page: 5}]">5</a>
						</li>
					
					<li *ngIf="filter.currentPage < totalPage"><a (click)="clickNext()">&raquo;</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>