<div class="row">
	<div class="col-md-4 col-sm-6" *ngFor="let item of list_product_display, let i = index">
		<div class="single-shop-product simpleCart_shelfItem">
			<div class="product-upper">
				<img src="{{item.img}}" (click)="gotoDetail(item)" class="img-responsive" alt="" />
			</div>
			<div class="info-product">
				<a>
					<p class="title text-center" (click)="gotoDetail(item)" >{{item.name | uppercase}}</p>
				</a>
				<p class="product-price" *ngIf="item.price_sale != 0">
					<span class="pull-left">
						<del>{{item.price | currency:'USD':true}}</del>
					</span>
					<span class="item_price pull-right">
						{{item.price_sale | currency:'USD':true}}
					</span>
					<br/>
				</p>
				<p class="product-price text-center" *ngIf="item.price_sale == 0">
					<span class="item_price">{{item.price | currency:'USD':true}}</span>
				</p>
				<p class="brief">{{item.brief}}</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button item_add">Add to cart</a>
			</div>
		</div>
	</div>
</div>