<div class="row">
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p1.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p2.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p3.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p4.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p5.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
	<div class="col-md-4 col-sm-6 col-xs-12">
		<div class="single-shop-product">
			<div class="product-upper">
				<img src="images/p6.jpg" class="img-responsive" alt="" />
			</div>
			<div class="product-info">
				<a routerLink="/single">
					<p class="title">perfectly simple</p>
				</a>
				<p class="product-price">
					<span class="item-price">$590</span>
				</p>
				<p class="brief">Kohlrabi bok choy broccoli rabe welsh onion spring onion tatsoi ricebean kombu chard.</p>
			</div>
			<div class="product-option-shop">
				<a class="add-to-cart-button" href="#">Add to cart</a>
			</div>
		</div>
	</div>
</div>